* {
    font-family: Consolas, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}

nav .navbarBrand {
    max-height: 100%;
    font-size: 24pt;
    font-weight: bold;
    color: aliceblue;
}

nav .navbarLinks {
    display: flex;
}

.link {
    margin: 1rem;
    color: white;
}

.searchInput {
    padding: 3px 10px;
    width: 15vw;
    height: 30px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px black solid;
}

.searchInput:focus {
    outline: none !important;
    border-bottom: 2px #719ECE solid;
    transition: 1s;
}

.leftContainer {
    width: 25vw;
    margin: 2vw;
    padding: 10px;
    background: aliceblue;
}

.leftContainer .popularArtists {
    max-width: 10px;
}

.rightContainer {
    height: 100%;
    max-height: 10vh;
    width: 75vw;
    margin: 2vw 2vw 2vw 0;
    padding: 10px;
}
